<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
<div id="input" contenteditable=true>
  <p>Change this sentence</p>
</div>
<button onclick="save()">Save to Storage</button>
<button onclick="load()">Load from Storage</button>

<style>
div {
    font-family: 'Shadows Into Light', cursive;
    font-size:1.2em;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width:30em) {
    div {
        max-width: 50%;
    }
}
</style>

<script>
function save() {
  text = document.getElementById('input');
  text = text.innerHTML;
  localStorage.setItem("content", text);
  console.log("Saved!");
  console.log("::");
  console.log(localStorage.getItem("content"));
}

function load() {
  div = document.getElementById('input');
  div.innerHTML = localStorage.getItem("content");
  console.log("Loaded!");
  console.log("::");
  console.log(localStorage.getItem("content"));
}

if (localStorage.getItem("content") !== null) {
    load();
}

document.addEventListener("keydown", function(e) {
      if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey))      {
        e.preventDefault();
        save();
      }
    }, false);
    
document.addEventListener("keydown", function(e) {
      if (e.keyCode == 76 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey))      {
        e.preventDefault();
        load();
      }
    }, false);
    
    var autosave = setTimeout(save, 2000);
</script>